@font-face {
  scr: url("https://fonts.googleapis.com/css?family=Alegreya+Sans|Amatic+SC");
  font-family: 'Amatic SC', cursive;
  font-family: 'Alegreya Sans', sans-serif;
}

html {
	background-color: #E8C74D
}

body {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	color: #3C3B37;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding: 1em;
}

a[href] {
	color: #254A59;
	text-decoration: none;
}

nav {
	font-size: 125%;
	font-family: 'Alegreya Sans', sans-serif;
}


nav ul {
	list-style: none;
	padding: 0;
	text-align: center;
}

nav li {
	display: inline-block;
	padding: 15px;
}


h1{
	font-size: 450%;
	font-family: 'Amatic SC', cursive;
}

h2{
	font-size: 250%;
	font-family: 'Amatic SC', cursive;
}



p {
	color: #3C3B37;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 125%;
}

main {
	border-style: solid;
	border-color: gray;
	text-align: center;
}

.photos {
	margin-left: auto;
	margin-right: auto; 
	padding-top: 5em;
}

img {
	width: 500px;
}



footer {
   background-color: #737270;
   color: white;
   text-align: center;
   margin: 0 auto;
   clear: both;
}